<!-- app/views/material_requirements/index.html.erb -->
<h1>Material Requirements</h1>
<p><%= link_to "Back", root_path %></p>
<p><%= link_to "New Material", new_material_requirement_path %></p>
<table border="1" cellpadding="6">
  <tr><th>Item</th><th>Name</th><th>Qty</th><th>Unit</th><th>Shop</th><th></th></tr>
  <% @material_requirements.each do |mr| %>
    <tr>
      <td><%= link_to mr.item.title, mr.item %></td>
      <td><%= link_to mr.name, mr %></td>
      <td><%= mr.qty_needed %></td>
      <td><%= mr.unit %></td>
      <td><%= mr.shop&.name %></td>
      <td>
        <%= link_to "Edit", edit_material_requirement_path(mr) %> |
        <%= link_to "Destroy", mr, data: { turbo_method: :delete, turbo_confirm: "Delete?" } %>
      </td>
    </tr>
  <% end %>
</table>
